/* Write your CSS here */
.transaction-item-container {
  display: flex;
  /* border: 0 1px 1px 1px solid #cbd5e1; */
  justify-content: space-between;
  padding: 0px 20px 0px 30px;
}

.transaction {
  color: #7e858e;
  font-family: 'Roboto';
  font-weight: 500;
}
.delete {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.custom-delete-btn {
  background-color: transparent;
  border-width: 0;
}
